body {
    background: rgb(87, 145, 227);
    background-size: contain;
    height: calc(100vh - 30px);
    font-family: 'KyivType';
}

@font-face {
    font-family: 'KyivType';
    src: url('assets/KyivTypeSerif-Bold.ttf');
}

.container {
    margin-top: 30px;
}


h1, h2, h3 {
    text-align: center;
    margin-left: 0;
}

h1 {
    font-size: 28pt;
}

h2 {
    font-size: 16pt;
}

h3 {
    font-size: 16pt;
}

p {
    font-size: 12pt;
    text-align: center;
    margin-bottom: 20px;
}

.primary-text-color {
    color: #811414;
    font-weight: bold;
}

.secondary-text-color {
    color: #f9db45;
    font-weight: bold;
}

.social-icon {
    width: 40px;
    height: 40px;
}

.radio-control {
    width: 75px;
    height: 75px;
    border: none;
    display: block;
}

.radio {
    display: flex;
    justify-content: center;
}

#radio-play {
    background: url("assets/play.png") no-repeat;
    background-size: contain;
}

#radio-pause {
    background: url("assets/pause.png") no-repeat;
    background-size: contain;
}

.signal-bars-container {
    height: 65px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
    margin-left: 10px;
}

.signal-bar {
    width: 12px;
    background-color: #811414;
    margin: 0 3px;
    transition: background-color 0.3s;
    border-radius: 5px;
}

#bar1 { height: 20%; }
#bar2 { height: 40%; }
#bar3 { height: 60%; }
#bar4 { height: 80%; }
#bar5 { height: 100%; }

.signal-bar.active {
    background-color: #f9db45;
}

#signal-slider {
    width: 90px;
    margin-left: 10px;
    accent-color: #f9db45;
}

.volume-control {
    margin-left: 30px;
}

.video-box {
    margin: 20px auto;
    width: 320px;
    height: 180px;
}

.c-video {
    width: 320px;
    height: 180px;
    object-fit: cover;
}

.art-picture {
    width: 70%;
    margin: 30px auto 10px;
}

.social-media {
    margin: 20px 0 0;
}

@media (min-width: 576px) {
    p {
        font-size: 16pt;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 45pt;
    }
    
    h2 {
        font-size: 24pt;
    }
    
    h3 {
        font-size: 20pt;
    }

    .art-picture {
        width: 300px;
        margin: 0;
    }

    .radio-control {
        margin-bottom: 20px;
    }

    .video-box {
        width: 480px;
        height: 270px;
        margin-top: 20px;
    }
    
    p {
        font-size: 18pt;
    }
}

@media (min-width: 992px) {
    h1, h2, h3 {
        text-align: left;
    }

    h1 {
        font-size: 45pt;
    }
    
    h2 {
        font-size: 24pt;
    }
    
    h3 {
        font-size: 20pt;
    }

    .art-picture {
        width: 400px;
        margin: 0;
    }

    .video-box {
        margin: 0;
        margin-top: 20px;
    }

    .radio {
        margin-left: -80px;
    }

    p {
        font-size: 13pt;
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: 52pt;
    }
    
    h2 {
        font-size: 28pt;
    }
    
    h3 {
        font-size: 20pt;
    }

    .social-icon {
        width: 50px;
        height: 50px;
    }

    .video-box {
        width: 576px;
        height: 324px;
        margin: 0;
        margin-top: 20px;
    }

    p {
        font-size: 15pt;
    }
}

@media (min-width: 1400px) {
    .radio {
        margin-left: -200px;
    }

    p {
        font-size: 18pt;
    }
}