body {
    background: rgb(87, 145, 227);
    background-size: contain;
    height: calc(100vh - 30px);
    font-family: 'KyivType';
}

@font-face {
    font-family: 'KyivType';
    src: url('assets/fonts/KyivTypeSerif-Bold.ttf');
}

.container {
    margin-top: 30px;
}

h1, h2, h3 {
    text-align: center;
    margin-left: 0;
    z-index: 1;
}

h1 {
    font-size: 28pt;
}

h2 {
    font-size: 16pt;
}

h3 {
    font-size: 16pt;
}

p {
    font-size: 12pt;
    text-align: center;
    margin-bottom: 20px;
}

.primary-text-color {
    color: #811414;
    font-weight: bold;
}

.secondary-text-color {
    color: #f9db45;
    font-weight: bold;
}

.social-icon {
    width: 40px;
    height: 40px;
}

.radio-control {
    width: 60px;
    height: 60px;
    border: none;
    display: block;
}

.radio {
    display: flex;
    justify-content: center;
    align-items: center;
}

#radio-play {
    background: url('assets/play.png') no-repeat;
    background-size: contain;
}

#radio-pause {
    background: url('assets/pause.png') no-repeat;
    background-size: contain;
}

.radio-buttons {
    position: relative;
    z-index: 1;
}

.volume-control {
    position: absolute;
    z-index: 0;
}

.video-box {
    margin: 20px auto;
    width: 320px;
    height: 180px;
    border: 1px solid #811414;
}

.art-picture {
    width: 70%;
    margin: 30px auto 10px;
}

.social-media {
    margin: 20px 0 10px;
}

.vjs-modal-dialog-content {
    display: none;
}

#slider {
    cursor: pointer;
}

#slider .rs-range-color  {
    background-color: #f9db45;
}

#slider .rs-path-color  {
    background-color: #811414;
    border-radius: 0;
}

#slider .rs-handle  {
    background-color: #f9db45;
    cursor: pointer;
}

#slider .rs-border  {
    border: 0;
}

#slider .rs-bg-color {
    background: rgb(87, 145, 227);
}

@media (min-width: 576px) {
    p {
        font-size: 16pt;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 45pt;
    }
    
    h2 {
        font-size: 24pt;
    }
    
    h3 {
        font-size: 20pt;
    }

    .art-picture {
        width: 300px;
        margin: 0;
    }

    .video-box {
        width: 480px;
        height: 270px;
        margin-top: 20px;
    }
    
    p {
        font-size: 18pt;
    }
}

@media (min-width: 992px) {
    h1, h2, h3 {
        text-align: left;
    }

    h1 {
        font-size: 45pt;
    }
    
    h2 {
        font-size: 24pt;
    }
    
    h3 {
        font-size: 20pt;
    }

    .art-picture {
        width: 400px;
        margin: 0;
    }

    .video-box {
        margin: 0;
        margin-top: 20px;
    }

    .social-media {
        margin: 0;
    }

    .radio {
        margin-left: -80px;
    }

    p {
        font-size: 13pt;
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: 52pt;
    }
    
    h2 {
        font-size: 28pt;
    }
    
    h3 {
        font-size: 20pt;
    }

    .social-icon {
        width: 50px;
        height: 50px;
    }

    .video-box {
        width: 576px;
        height: 324px;
        margin: 0;
        margin-top: 20px;
    }

    p {
        font-size: 15pt;
    }
}

@media (min-width: 1400px) {
    .radio {
        margin-left: -200px;
    }

    p {
        font-size: 18pt;
    }
}