body {
    background: linear-gradient(135deg, rgb(110, 164, 239) 0%, rgb(87, 145, 227) 50%, rgb(42, 124, 239) 100%);
    background-size: contain;
    height: calc(100vh - 40px);
}

.container {
    margin-top: 40px;
}

h1 {
    font-size: 42pt;
}

h2 {
    font-size: 18pt;
}

h3 {
    font-size: 24pt;
}

.primary-text-color {
    color: #f9db45;
    font-weight: bold;
}

.secondary-text-color {
    color: #662d91;
    font-weight: bold;
}

.social-icon {
    width: 50px;
    height: 50px;
}

.radio-control {
    width: 75px;
    height: 75px;
    border: none;
    display: block;
    margin: 0 auto;
}

#radio-play {
    background: url("assets/play.png") no-repeat;
    background-size: contain;
}

#radio-pause {
    background: url("assets/pause.png") no-repeat;
    background-size: contain;
}

.art-picture {
    width: 70%;
}

@media (max-width: 991.98px) {
    .social-media {
        margin: 20px 0 0;
    }

    h1, h2, h3 {
       text-align: center;
    }

    h1 {
        font-size: 32pt;
    }

    .radio-control {
        width: 100px;
        height: 100px;
        margin-bottom: 20px;
    }

    .art-picture {
        display: block;
        margin: 30px auto 10px;
    }
}

@media (max-width: 1199.98px) {
    .social-icon {
        width: 40px;
        height: 40px;
    }
}